<h1> NEW show</h1>


<form action="/shows" method="post">
  Title:<input type="text" name="title" placeholder="">
  Seasons:<input type="number" name="seasons" placeholder="">
  <input type="submit">
</form>
