
<form method="POST" action="/cars">
  <input type="text" name="brand" placeholder="Enter brand">
  <input type="text" name="model" placeholder="Enter model">
  <input type="number" name="year" placeholder="Enter year">
  <input type="number" name="coolness" placeholder="Enter coolness">
  <input type="text" name="color" placeholder="Enter color">
  <input type="submit">
</form>